/* Variables */

:root {
  --main-text-color: #161e40;
}

/* Typography */

html {
  font-size: 16px;
  /* font-family: "Dosis", "Roboto", "ABeeZee", sans-serif; */
}

h1 {
  font-family: "Dosis", sans-serif;
  font-size: 2.3rem;
  font-weight: 700;
}

h2 {
  font-family: "Dosis", sans-serif;
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 {
  font-family: "Roboto", sans-serif;
}

a,
p {
  font-family: "Roboto", sans-serif;
}

a,
h2,
h3,
p {
  color: var(--main-text-color);
  text-decoration: none;
}

/* Layout */

body {
  min-height: 100vh;
  background-color: #ffff;
}

.container {
  width: 100%;
  max-width: 640px;
  padding: 0 24px 32px;
  margin: 0 auto;
}

/* Header */

.header {
  width: 100%;
  max-width: 640px;
  padding: 8px 20px;
  margin: 0 auto 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-weight: 500;
  /* font-family: "Dosis", sans-serif;
  font-weight: 500; */
}

.nav-container {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

/* Main */

.selected-projects {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-bottom: 15px;
  text-decoration: none;
}

@media screen and (min-width: 40em) {
  .selected-projects {
    flex-direction: row;
  }
}

.selected-projects figure {
  flex: 1;
}

.selected-projects div {
  flex: 1;
}

.selected-projects figure img {
  max-width: 100%;
  border-radius: 5px;
}

/* Media Queries */
